{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    .form-outline{
        width: 100px !important;
        
    }
   .inputcount::-webkit-outer-spin-button,.inputcount::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
   } 
   
  
</style>
    
{% endblock css %}
    

{% block body %}

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <form method="POST" class="card mb-4">
                    {% csrf_token %}
                    <div class="card-header pt-3 pb-0 d-flex justify-content-between">
                        <h5 class="mb-0">Sepette {{ shopbasket|length }} ürününüz var</h5>
                        <div class="d-flex justify-content-center m-0 p-0">
                            <input style="margin: -10px 0px 10px 0px;" class="btn btn-success p-2" type="submit" value="Düzenle">
                        </div>
                    </div>
                    <div class="card-body">
                        
                        {% for i in shopbasket %}
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                    data-mdb-ripple-color="light">
                                    <img src="{{ i.product_letter.product.image.url }}" class="w-100" alt="Blue Jeans Jacket" style="height: 120px; object-fit: cover;"/>
                                    <a href="{% url 'ShopDetail' i.product_letter.product.slug %}">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>{{ i.product_letter.product.title }}</strong></p>
                                <div class="d-flex">
                                    <p>Color: {{ i.product_letter.color }}</p>
                                    <p class="ms-4">Size: {{ i.product_letter.size }}</p>
                                </div>
                                <a href="{% url 'ShopBasketDelete' i.id %}" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                    title="Remove item">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                    title="Move to the wish list">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                               
                                <!-- Quantity -->
                                
                                <div class="d-flex justify-content-center mb-4" style="max-width: 300px">
                                    <button type="button" class="btn btn-primary px-3 me-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <div class="form-outline">
                                        <input id="form{{ i.id }}" min="0" name="count{{ i.id }}" value="{{ i.count }}" type="number"
                                            class="form-control inputcount" />
                                        <label class="form-label" for="form{{ i.id }}">Adet</label>
                                    </div>

                                    <button type="button" class="btn btn-primary px-3 ms-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- Quantity -->
                                
                                <!-- Price -->
                                <p class="text-start text-md-center">
                                    <strong>${{ i.price_all }}</strong>
                                </p>
                                <!-- Price -->
                            </div>
                            
                        </div>
                        <!-- Single item -->
                        <hr class="my-4" />
                        {% endfor %}
                            

                    </div>
                </form >
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Expected shipping delivery</strong></p>
                        <p class="mb-0">12.10.2020 - 14.10.2020</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                            alt="Visa" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                            alt="American Express" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                            alt="Mastercard" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            
                            {% for i in shopbasket %}
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                {{ i.product_letter.product.title }} - {{ i.product_letter.size }} - {{ i.product_letter.color }}
                                <span>${{ i.price_all }}</span>
                            </li>
                            {% endfor %}
                                
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                TOTAL
                                <span>+</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                </div>
                                <span><strong>${{ total }}</strong></span>
                            </li>
                        </ul>

                        <button type="button" class="btn btn-primary btn-lg btn-block">
                            Go to checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock body %}
    